# Servidor
PORT=3500
NODE_ENV=development

# Base de Datos (PostgreSQL)
# Configura estos valores según tu instancia local
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_DATABASE=candy_and_love
DATABASE_URL="postgresql://tu_usuario:tu_contraseña@localhost:5432/candy_and_love?schema=public"

# AWS S3 (Media Management)
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_REGION=us-east-1
AWS_S3_BUCKET=nombre_de_tu_bucket